.div-line {
    border-top: 1px solid grey;
}

.text {
    margin: 10px 0 10px 0;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-margin {
    margin: 10px 0 0 5px;
}